* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    line-height: 1.75em;
}

.container1 {
    background-image: url(./img/Image1.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    opacity: 0.7;
}

span {
    background-color: rgba(88, 86, 86, 0.493);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.6em;
    letter-spacing: 0.3em;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.section p {
    width: 700px;
    text-align: center;
}

.text2_3 span {
    background-color: transparent;
}

.section2,
.section3 {
    background-color: black;
    color: white;
}

.container2 {
    background-image: url(./img/Image2.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-position: center;
    background-size: cover;
}

.container3 {
    background-image: url(./img/Image3.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    background-position: center;
    background-size: cover;
}