body {
    margin: 0;
    font-size: 1em;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.5em;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.7;
}

.container1 {
    background-image: url(./img/img1.jpg);
    width: auto;
    height: 100vh;
}

span {
    background-color: #FCEAA7;
    color: #635661;
    font-size: 1.75em;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    letter-spacing: 0.3em;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px 50px;
}

.section p {
    font-size: 1.3em;
    line-height: 1.75em;
    letter-spacing: 0.1em;
}

.text1_4,
.text2_3 {
    display: flex;
    flex-direction: column;
}

.text2_3 span {
    background-color: transparent;
}

.section1 {
    background-color: #FBE2E1;
    color: #726C6C;
}

.container2 {
    background-image: url(./img/img2.jpg);
    height: 50vh;
    width: auto;
}

blockquote {
    font-family: Merriweather, serif;
    font-size: 1.6em;
    line-height: 2em;
}

#blockquote1 {
    border-left: 2px solid #635661;
}

.section2 {
    background-color: #94898B;
    color: white;
}

.container3 {
    background-image: url(./img/img3.jpg);
    height: 50vh;
    width: auto;
}

#blockquote2 {
    border-right: 2px solid #635661;
}

.section3 {
    background-color: #FBE2E1;
    color: #726C6C;
}

.container4 {
    background-image: url(./img/img4.jpg);
    height: 80vh;
    width: auto;
}

@media screen and (max-width:800px) {
    .text1_4,
    .text2_3 {
        font-size: 0.75em;
        letter-spacing: 0.2em;
    }
}

@media screen and (max-width:500px) {
    .text1_4,
    .text2_3 {
        font-size: 0.5em;
        letter-spacing: 0.1em;
    }
    /* .container {
        background-size: 100% auto;
    } */
    .section p {
        font-size: 1em;
        line-height: 1.2em;
        letter-spacing: 0.1em;
    }
    blockquote {
        font-size: 2em;
        line-height: 2em;
    }
    span {
        font-size: 2em;
    }
}